# Основы Pandas

In [229]:
import pandas as pd

В течение данного занятия будем сравнивать удобство и скорость выполения ряда операций с помощью стандартных методов и библиотеки 
` pandas`.<br>

Для начала работы нам понадобится создать хранилище с данными. Пусть будет 3 физические величины. Создадим три массива, где будут храниться значения, которые в теории могут принимать эти физические величины.  

Значения тока должны лежать в пределах от 20 до 30 с шагом в 1, значения для магнитного поля в пределах от 40 до 60 с шагом в 2.

In [230]:
current_all = []
field_all = []

...

Теперь представим, что мы провели реальный физический эксперимент, в котором меняли поле и ток в заданных диапазонах (значения могут повторяться) и измеряли значение напряжение. 

Напишите функцию, которая рандомно выбирает значение тока и магнитного поля их списков `current_all` и `field_all` и генерирует  рандомное значение напряжения в пределах от 0 В до 100 В. 

На вход подаются два массива значений (current_all, field_all). На выходе список из трех элементов: ток, магнитное поле, напряжение.

In [231]:
from random import choice, uniform

def gen_values(current=current_all , field = field_all) -> list:
    row = []
    ...
    return row

Теперь можем приступить к формированию баз данных. Каждый способ будем применять поочерёдно, измеряя время его выполнения. `time.perf_counter()` поможет в этом. 

Для увеличения точности эксперимента создайте словарь, содержащий три физические велечины, каждой из которых соотвествует  список из M = 1000 значений. Получите время выполнения данного примера.

In [232]:
from time import perf_counter

# Число измерений
N = 1000

In [ ]:
start = perf_counter()


dict_storage = {'H': [],
                'I': [],
                'U': []}
...

print(perf_counter() - start)

In [ ]:
start = perf_counter()

pandas_storage = pd.DataFrame(columns=['H', 'I', 'U'])
...

print(perf_counter() - start)

Разница в 100 раз сразу даёт понять, что лучше использовать словарь, а уже после этого преобразовывать его в DataFrame

Потом можете попробовать придумать более быстрый алгоритм, а мы перейдём к работе с матрицами. Среди любых данных будет присутсвовать шум. Предположим, что у нас он постоянный, поэтому нас интересуют значения тока и поля, при которых напряжение было больше 3. Найдём нужные нам строки

In [236]:
pandas_storage.loc[pandas_storage['U'] > 5]

      H   I          U
0    20  46  25.703458
1    30  44  81.043743
2    23  54  15.762136
3    25  56   8.770395
4    30  52  90.818649
..   ..  ..        ...
995  25  52  13.285095
996  29  46  30.806454
997  20  56  59.773475
998  29  54  59.221976
999  25  42  32.970390

[949 rows x 3 columns]

Получили меньшую по вертикальному размеру матрицу, но с неправильной нумирацией строк. Восстановим её методом `df.reset_index()`

In [237]:
pandas_storage.loc[pandas_storage['U'] > 5].reset_index()

     index   H   I          U
0        0  20  46  25.703458
1        1  30  44  81.043743
2        2  23  54  15.762136
3        3  25  56   8.770395
4        4  30  52  90.818649
..     ...  ..  ..        ...
944    995  25  52  13.285095
945    996  29  46  30.806454
946    997  20  56  59.773475
947    998  29  54  59.221976
948    999  25  42  32.970390

[949 rows x 4 columns]

Почти получили требуемые данные, удалим лишний столбец методом `df.drop(label, axis=0, inplace=False,...)`

In [238]:
pandas_storage_new = pandas_storage.loc[pandas_storage['U'] > 5].reset_index().drop('index', axis=1)
pandas_storage_new

      H   I          U
0    20  46  25.703458
1    30  44  81.043743
2    23  54  15.762136
3    25  56   8.770395
4    30  52  90.818649
..   ..  ..        ...
944  25  52  13.285095
945  29  46  30.806454
946  20  56  59.773475
947  29  54  59.221976
948  25  42  32.970390

[949 rows x 3 columns]

Теперь найдём среднее значение напряжение при каждой комбинации полей и тока, например, для построения трёхмерного графика

In [239]:
pandas_storage_new.groupby(['H', 'I']).mean()

               U
H  I
20 40  51.513941
   42  42.064408
   44  64.465407
   46  39.592509
   48  67.626537
...          ...
30 52  50.840503
   54  44.626392
   56  66.239735
   58  56.958432
   60  48.782562

[121 rows x 1 columns]

И переведём данные обратно в словарь

In [240]:
pandas_storage_new.groupby(['H', 'I']).mean().to_dict()

{'U': {(20, 40): 51.51394115247767,
  (20, 42): 42.06440761878909,
  (20, 44): 64.46540748625894,
  (20, 46): 39.59250899205013,
  (20, 48): 67.62653672724967,
  (20, 50): 72.01007537942387,
  (20, 52): 49.3053392808179,
  (20, 54): 64.70691025497841,
  (20, 56): 60.78663301965168,
  (20, 58): 24.095716475636134,
  (20, 60): 75.36746225844182,
  (21, 40): 51.310615495814275,
  (21, 42): 34.33074776109933,
  (21, 44): 63.868489627097425,
  (21, 46): 58.21225992866439,
  (21, 48): 58.1869599479831,
  (21, 50): 42.34155121697316,
  (21, 52): 55.96480364453748,
  (21, 54): 59.06309152790738,
  (21, 56): 44.53289409151393,
  (21, 58): 43.081236794355135,
  (21, 60): 79.38343488477263,
  (22, 40): 71.99837917881013,
  (22, 42): 27.9345698002787,
  (22, 44): 30.747402309816923,
  (22, 46): 50.722421744901574,
  (22, 48): 55.91571442125473,
  (22, 50): 50.670775226059725,
  (22, 52): 32.69825793296415,
  (22, 54): 57.056980589379926,
  (22, 56): 45.43545150724766,
  (22, 58): 63.55245096963799,
  (22, 60): 48.32714807594186,
  (23, 40): 46.3999652605224,
  (23, 42): 59.38706748215749,
  (23, 44): 44.59375825287723,
  (23, 46): 49.241245044124675,
  (23, 48): 47.53135666111322,
  (23, 50): 68.35487358944849,
  (23, 52): 54.173596984356074,
  (23, 54): 45.7348897964165,
  (23, 56): 50.61418174760682,
  (23, 58): 55.58927262510645,
  (23, 60): 46.23167311791993,
  (24, 40): 58.399700592451026,
  (24, 42): 41.28584976090591,
  (24, 44): 61.8985477781491,
  (24, 46): 56.747805932405164,
  (24, 48): 60.38844032432199,
  (24, 50): 51.131153031873204,
  (24, 52): 67.02516187016396,
  (24, 54): 39.316908284562274,
  (24, 56): 59.273786094776945,
  (24, 58): 54.259850212204526,
  (24, 60): 36.77811615376538,
  (25, 40): 64.93734972311032,
  (25, 42): 49.42492351479538,
  (25, 44): 59.60788017125473,
  (25, 46): 50.15986237577716,
  (25, 48): 49.302972106469454,
  (25, 50): 48.61770765441804,
  (25, 52): 52.233877091916106,
  (25, 54): 31.214291492074068,
  (25, 56): 52.69113376349621,
  (25, 58): 68.55509419724633,
  (25, 60): 51.054139231873066,
  (26, 40): 45.59130696707153,
  (26, 42): 42.71210592952477,
  (26, 44): 46.3758902599381,
  (26, 46): 57.94723326921309,
  (26, 48): 56.87167861961473,
  (26, 50): 51.65026318380052,
  (26, 52): 72.30646653663663,
  (26, 54): 58.63662318040213,
  (26, 56): 55.653186456573316,
  (26, 58): 56.54346600629594,
  (26, 60): 57.78215168725172,
  (27, 40): 60.96425141498486,
  (27, 42): 59.74179405906191,
  (27, 44): 54.591433528111416,
  (27, 46): 65.24978200726508,
  (27, 48): 73.92059355375068,
  (27, 50): 45.36135638603467,
  (27, 52): 46.60530655968443,
  (27, 54): 56.96995640806727,
  (27, 56): 59.05440182762528,
  (27, 58): 60.58480546035579,
  (27, 60): 53.73861001899155,
  (28, 40): 42.83972564082322,
  (28, 42): 38.386597995296576,
  (28, 44): 38.40159788898124,
  (28, 46): 46.33468761426535,
  (28, 48): 46.92168851083294,
  (28, 50): 37.73279273910789,
  (28, 52): 51.435305440167575,
  (28, 54): 56.4333873399798,
  (28, 56): 38.31921796660059,
  (28, 58): 50.9859550597449,
  (28, 60): 57.805529152536096,
  (29, 40): 65.09085312889668,
  (29, 42): 50.10132796549,
  (29, 44): 39.201407761464104,
  (29, 46): 53.95281545967129,
  (29, 48): 60.56818782030418,
  (29, 50): 52.047132847876775,
  (29, 52): 65.88089500973176,
  (29, 54): 55.399317493675106,
  (29, 56): 54.30884259421472,
  (29, 58): 50.790852942364126,
  (29, 60): 79.02913372595188,
  (30, 40): 42.32086665061155,
  (30, 42): 50.61547475833,
  (30, 44): 66.5470080258679,
  (30, 46): 40.41002149615911,
  (30, 48): 53.52743554616963,
  (30, 50): 45.12856233134274,
  (30, 52): 50.84050257080543,
  (30, 54): 44.62639194324646,
  (30, 56): 66.23973512313891,
  (30, 58): 56.95843243686526,
  (30, 60): 48.782562141582595}}

Также можно отдельные столбцы и строки преобразовывать в списки (`Serial.to_list()`)

Для исследования зависимости значения физической величины от двух других параметров, можно создать матрицу, используя значения 
этих величин в качестве индексов. Используем уже созданный pandas_storage_new и его сгруппированную версию.  В качестве индексов будем испольовать значения поля, а для названий столбцов возьмем значения тока.

In [241]:
print(pandas_storage['H'].unique())
print(pandas_storage['I'].unique())

[20 30 23 25 28 29 22 21 26 27 24]
[46 44 54 56 52 60 58 42 40 48 50]

Очевидно, что метод `.unique()` вернёт набор уникальных значений, причём в порядке следования в хранилище. Удобнее держать его отсортированным. Используем фунцкцию из библиотеки Numpy, так как все массивы являются массивами из неё. Подробнее об этом в следующей главе

In [242]:
import numpy as np

print(indexes := np.sort(pandas_storage['H'].unique()))
print(columns := np.sort(pandas_storage['I'].unique()))

massive = pd.DataFrame(index=indexes, columns=columns)
massive

[20 21 22 23 24 25 26 27 28 29 30]
[40 42 44 46 48 50 52 54 56 58 60]

     40   42   44   46   48   50   52   54   56   58   60
20  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
21  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
22  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
23  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
24  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
25  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
26  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
27  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
28  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
29  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
30  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

Раз создали матрицу, пора заполнять её числами! У нас есть словарь, ключами которого являются пара значений (индекс, столбец), которым соотвествует искомое значение напряжения, остаётся правильно расположить его. Для заполнения используйте метод `df.loc[index, column] = ...` Решение может быть реализовано одной строкой)

In [ ]:
...

**Задача 2.3.** Из имеющегося массива данных вычислите среднее значение сопротивления при каждом из параметров, кроме нулевого тока. 

Создайте общий DataFrame для трех обрацов. Индексы в DataFrame должны соответствовать значениям температуры.

In [244]:
Sample_1 = {'T': [300, 300, 300, 250, 250, 200, 200, 200, 150, 150, 150, 150, 100],
            'I': [0, 10, 20, 0, 10, 0, 10, 20, 0, 10, 20, 20, 0],
            'R': [1, 4, 7, 1, 6, 1, 8, 15, 1, 11, 21, 22, 1]}
Sample_2 = {'T': [300, 300, 300, 300, 250, 250, 200, 200, 200, 150, 150, 150, 100],
            'I': [0, 30, 40, 0, 40, 0, 30, 40, 0, 30, 40, 40, 0],
            'R': [0, 4, 8, 7, 0, 6, 0, 7, 14, 0, 10, 20, 0]}
Sample_3 = {'T': [300, 300, 300, 250, 250, 200, 200, 200, 150, 150, 150, 150, 100],
            'I': [0, 10, 20, 0, 10, 0, 10, 20, 0, 10, 20, 30, 0],
            'R': [1, 2, 3, 1, 4, 7, 1, 6, 1, 7, 12, 18, 1]}

Поступал вопрос про вычисление корреляции двух последовательностей. В `Pandas` есть такой метод: `df.corr()` принимает массив из *DF* и вычисляет действительное число зависимости содержимого от строки, к которой применён метод

In [ ]:
import pandas as pd
data = { 'Region': ['North', 'South', 'East', 'West'], 'Sales': [200, 150, 300, 250], 'Advertising': [50, 40, 70, 60] }
df = pd.DataFrame(data)
correlation = df['Sales'].corr(df['Advertising'])
float(correlation)

1.0